---
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
ColumnLimit: '120'
FixNamespaceComments: 'true'
IndentWidth: '4'
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
TabWidth: '4'
IncludeCategories:
  - Regex: '^<pthread\.h>'
    Priority: 1
  - Regex: '^<time\.h>'
    Priority: 1
  - Regex: '^<string\.h>'
    Priority: 1
  - Regex: '^<std.*\.h>'
    Priority: 1
  - Regex: '^<cube.*\.h>'
    Priority: 3
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^"core/.*\.h"'
    Priority: 4
  - Regex: '^"graphics/.*\.h"'
    Priority: 5
  - Regex: '^"world/.*\.h"'
    Priority: 6
  - Regex: '^".*\.h"'
    Priority: 7