[submodule "third-party/cglm"]
	path = third-party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/entt"]
	path = third-party/entt
	url = https://github.com/skypjack/entt.git
[submodule "cmake-conan"]
	path = cmake-conan
	url = https://github.com/conan-io/cmake-conan.git