[submodule "third-party/cglm"]
	path = third-party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third-party/FastNoiseLite"]
	path = third-party/FastNoiseLite
	url = https://github.com/Auburn/FastNoiseLite.git
[submodule "third-party/Unity"]
	path = third-party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/entt"]
	path = third-party/entt
	url = https://github.com/skypjack/entt.git
[submodule "cmake-conan"]
	path = cmake-conan
	url = https://github.com/conan-io/cmake-conan.git